@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
    line-height: 1.6;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

   /* Custom CSS for the dropdown arrow */
 .custom-select-wrapper::after {
   content: '▼';
   position: absolute;
   top: 50%;
   right: 1rem;
   transform: translateY(-50%);
   pointer-events: none;
   color: white;
 }

/* Custom CSS for the dropdown options */
.custom-select option {
  background-color: #f0f0f0; /* Light gray background */
  color: black; /* Black text */
}



.truncate-message {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}